/* GLOBAL */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 45px 0;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
img {
  height: 100px;
}
/* HEADER */

header {
  border-bottom: solid grey;
}

header img {
  height: 60px;
}

/* HERO */

.hero .container {
  display: flex;
  padding: 20px 0;
}

.hero img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}
.hero p {
  font-size: 19px;
  line-height: 28px;
  color: grey;
}

/* MAIN */

main {
  background-color: rgb(231, 228, 228);
}

main .container {
  padding: 20px 0;
  display: flex;
  gap: 30px;
}

main .col-left {
  /* background-color: red; */
  flex: 68;
}

main .col-right {
  /* background-color: blue; */
  height: 20px;
  width: 20px;
  flex: 32;
}

main .meals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main article {
  width: 48%;
  height: 160px;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
}
main img {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 6px;
  margin-left: 10px;
}
main .meal-description {
  font-size: 14px;
  line-height: 20px;
  height: 43px;
  overflow: hidden;
  margin-bottom: 10px;
  /* background-color: yellow; */
}

main .price-popular {
  display: flex;
}

main .popular {
  color: orange;
  margin-left: 20px;
}
